body{
	color: #395E8B;
	background-image: url(dhickeyinvite.jpg);
	background-repeat: no-repeat;
}

p {
	text-align: center;
	font-weight: bold;
}

.address {
	text-align: center;
	font-weight: bold;
}

.rsvp {
	font-size: smaller;
	text-align: center;
	font-weight: bold;
}